/* ===================================================================
 *
 *  Base Stylesheet
 *  2017-02-19
 *  ------------------------------------------------------------------
 *
 *  总目录:
 *  01. reset样式初始化
 *  02. 字体设置
 *  03. pace.js C 加载进度条插件
 *  04. home-header部分样式
 *  05. aboutme-section部分样式
 *  06.
 *
 *  00. 移动端自适应
 * =================================================================== */

/* ===================================================================
 *  01. reset样式初始化
 *
 * ------------------------------------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
html,body {
    position: relative;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    font-weight: 400;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    background: #ffffff;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
.clear{height:0px; overflow:hidden; clear:both}

/* ===================================================================
 *  02. 字体设置
 *      
 * ------------------------------------------------------------------- */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ro87z0');
    src:  url('../fonts/icomoon.eot?ro87z0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ro87z0') format('truetype'),
    url('../fonts/icomoon.woff?ro87z0') format('woff'),
    url('../fonts/icomoon.svg?ro87z0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 2.3rem;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-axure:before {
    content: "\e900";
}
.icon-bootstrap:before {
    content: "\e901";
}
.icon-Git:before {
    content: "\e902";
}
.icon-html:before {
    content: "\e903";
}
.icon-jquery:before {
    content: "\e904";
}
.icon-ajax:before {
    content: "\e905";
}
.icon-ps:before {
    content: "\e906";
}
.icon-angular:before {
    content: "\e907";
}
.icon-w3c:before {
    content: "\e908";
}
.icon-jop:before {
    content: "\e909";
}
.icon-education:before {
    content: "\e90a";
}
.icon-hshy:before {
    content: "\e90b";
}





/* ===================================================================
 *  03. pace.js C 加载进度条插件
 *      插件网址：http://www.jiawin.com/pace-js-automatic-page-load-progress-bar
 * ------------------------------------------------------------------- */
.pace {
    -webkit-pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}

.pace.pace-inactive .pace-progress {
    display: none;
}

.pace .pace-progress {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    height: 5rem;
    width: 5rem;
}

.pace .pace-progress:after {
    display: block;
    position: absolute;
    top: 0;
    right: .5rem;
    content: attr(data-progress-text);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: 5rem;
    line-height: 1;
    text-align: right;
    color: rgba(252, 210, 90, 0.19999999999999996);
}

/* ===================================================================
 *  04. home-header部分样式
 *
 * ------------------------------------------------------------------- */
#home{
    width: 100%;
    height: 100%;
    background: url("../image/headerbg.png")  no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/*导航栏样式*/

#navigation-bar{
    padding: 48px 10%;
    width: 100%;
    color: #fff;
    position: fixed;
    z-index: 999999;
    transition: all 2s;
    /*background:rgba(0,0,0,0.1);*/
    background: linear-gradient(to top, rgba(0,0,0,0.0), rgba(0,0,0,0.8));
    background: -ms-linear-gradient(to top, rgba(0,0,0,0.0), rgba(0,0,0,0.8));
    background: -moz-linear-gradient(to top, rgba(0,0,0,0.0), rgba(0,0,0,0.8));
    background: -o-linear-gradient(to top, rgba(0,0,0,0.0), rgba(0,0,0,0.8));
    background: -webkit-linear-gradient(to top, rgba(0,0,0,0.0), rgba(0,0,0,0.8));
}
.top-nav-collapse{
    background-color: rgba(0, 0, 0, 0.7)!important;
    padding: 0 10%!important;
}

#navigation-bar>nav,
#navigation-bar .container-fluid,
#navigation-bar .container-fluid .navbar-header,
#navbar .navbar-right li a{
    height: 68px;
    background-color:transparent;
    border: none;
    font-size: 16px;
    margin: 0;
    color: #ffffff;
}
#navbar .navbar-right li a{
    line-height: 38px;
    font-weight: 400;
    transition: all 0.5s;
}
#navbar .navbar-right li a:hover{
    color: #55C1E5;
}

#navigation-bar nav .Project-name{
    font-size: 3em;
    font-weight: 500;
    cursor:default ;
    line-height: 68px;
}
#navbar .navbar-right .dropdown .dropdown-menu a,
#navbar .navbar-right .dropdown .dropdown-menu li span{
    height: 36px;
    line-height: 36px;
    display: block;
    padding: 3px 20px;
    font-size: 0.7rem;
}
#navbar .navbar-right .dropdown .dropdown-menu li span{
    color: #d43f3a;
}
#navbar .navbar-right .dropdown .dropdown-menu{
    background-color: rgba(0,0,0,0.5);
}
/*轮播样式*/
#slider{
    padding: 164px 0 100px 0;
    margin: 0 10%;
    width: 80%;
    height: 100%;
    color: #fff;
    background-color:transparent;
    position: relative;
}
.da-slide h2{
    font-size: 2.5rem;
}
.da-arrows-prev {
    background: url(../image/sprite.png) no-repeat 0px 0px;
}
.da-arrows-next {
    background: url(../image/sprite.png) no-repeat -80px 0px;
}
.down-arrow span {
    background: url(../image/downarrow.png);
    width: 50px;
    height: 50px;
    display: block;
}


/* ===================================================================
 *  05. aboutme-section部分样式
 *
 * ------------------------------------------------------------------- */
#aboutme{
    width: 100%;
    position: relative;
    padding: 7rem 0 3rem;

}
.wide {
    width: 94%;
    max-width: 800px;
    margin: 1.5rem auto;
    text-align: center;
    position: relative;
    padding-bottom: 2rem;

}

.wide h3 {
    font-size: 1.3rem;
    color: #888;
    text-transform: uppercase;
    letter-spacing: .15rem;
    margin-bottom: 0;
}
.topic {
    letter-spacing: 0.5rem;
    font-size: 1.6rem;
    margin: 20px 0 10px 0;
}

.gray-line{
    margin: 2.8rem 0 1.5em 0;
    color: #666;
    padding-left: 8rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    position: relative;
}
.gray-line:before{
    display: block;
    content: "";
    height: 0.05rem;
    width: 3rem;
    background-color: #aeaeae;
    position: absolute;
    top: 50%;
    left: 1rem;
    margin-top: -3px;
}
.timeline-wrap{
    position: relative;
    text-align: left;
}
.timeline-block{
    position: relative;
    width: 100%;
    padding-left: 8rem;
    margin-bottom: 4.2rem;
}
.timeline-ico{
    height: 3rem;
    width: 3rem;
    background: #0aa770;
    border-radius: 20%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 1rem;
}
.timeline-ico>i{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 7px auto;
}
.timeline-header,
.timeline-content{
    padding-right: 35px;
    padding-left: 35px;
}
.timeframe{
    font-size: 1rem;
    color: #757575;
    margin-bottom: 0;
}
.timeline-header h3 {
    font-size: 1.2rem;
    line-height: 1.25;
    margin:0.5rem 0;
}
.timeline-header h5,
.timeline-content h4{
    margin: 10px 0;
}
.timeline-content p{
    font-size: 0.7rem;
}

/* ===================================================================
 *  06. skills-section样式
 *
 * ------------------------------------------------------------------- */
#skills{
    width: 80%;
    height: 85%;
    margin: 4% 10%;
}
.pc-style{
    width: 100%;
    height: 90%;
}

.kePublic{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.lest{
    width: 1200px;
    height: 100%;
    position: relative;
    background: #fff;
    margin:0 auto;
}
.box1,.box2,.box3,.box4,.box5,.box7,.box6,.box8,.box9{
    width: 390px;
    height: 228px;
    float: left;
    margin: 0 15px 15px 0;
    overflow: hidden;
    position: absolute;
}
.box1{
    top: 0;
    left: 0;
}
.box2{
    top: 0;
    left: 405px;
}
.box3{
    top: 0;
    left: 810px;
}

.box4{
    top: 243px;
    left: 0;
}
.box5{
    top: 243px;
    left: 405px;
}
.box6{
    top: 243px;
    left: 810px;
}
/*移动端部分样式*/
.mobile-style{

}
.sph{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.spbq{
    line-height: 2;
    padding: 10px;
    margin: 20px;
    background: #eee;
    position: relative;
    overflow: hidden;
    transition: all 300ms linear ;
    border-radius: 5px;
}
.spbq:hover{
    transform: translate(-1rem);
    -webkit-transform: translateY(-1rem);
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.3);
    box-shadow: 0 15px 30px rgba(0,0,0,.3);
}
.spbq h2{
    color: #14191e;
    font: bold 14px/18px "Microsoft Yahei","Hiragino Sans GB",Helvetica,"微软雅黑",Tahoma,Arial,sans-serif;
    margin: 18px auto;
}

.spbq b{
    color: #787d82;
    font: 12px/18px "Microsoft Yahei","Hiragino Sans GB",Helvetica,"微软雅黑",Tahoma,Arial,sans-serif;
}
.biankuang{
    width: 3px;
    height: 3px;
    position: absolute;
    z-index: 99;
    border-radius:10px;
    /*background: black;*/
}
.biankuang_1{
    height: 3px;
    top: -3px;
    left:0px;
    border-left: 3px solid #EB5858;
}
.biankuang_2 {
    width: 0px;
    bottom:0px;
    left: 0px;
    border-top: 3px solid #EB5858;
}
.biankuang_3{
    height: 0px;
    bottom:0px;
    right:0px;
    border-right: 3px solid #EB5858;
}
.biankuang_4{
    width:0px;
    top:0px;
    right:0px;
    border-bottom: 3px solid #EB5858;
}

.spbq p{
    bottom:10px;
    display: block;
    color: #333;
    font: 12px/18px "Microsoft Yahei","Hiragino Sans GB",Helvetica,"微软雅黑",Tahoma,Arial,sans-serif;
    margin: 8px 0;
}
.service-icon{
    width: 56px;
    height: 56px;
    margin: 20px auto;
}




/* ===================================================================
 *  07. 动画效果样式
 *
 * ------------------------------------------------------------------- */
.fadeHide{
    opacity:0;
}

.fadeInUp{
    animation:fadeInUp 1s;
    -moz-animation:fadeInUp 1s;
    -o-animation:fadeInUp 1s;
    -webkit-animation:fadeInUp 1s;

}
@keyframes fadeInUp{
    0%{opacity:0;
        transform:translate3d(0,100px,0);
        -ms-transform:translate3d(0,100px,0);
        -moz-transform:translate3d(0,100px,0);
        -o-transform:translate3d(0,100px,0);
        -webkit-transform:translate3d(0,100px,0);
    }
    to{opacity:1;
        transform:none;
        -ms-transform:none;
        -moz-transform:none;
        -o-transform:none;
        -webkit-transform:none;

    }
}
@-ms-keyframes fadeInUp{
    0%{opacity:0;
        transform:translate3d(0,100px,0);
        -ms-transform:translate3d(0,100px,0);
        -moz-transform:translate3d(0,100px,0);
        -o-transform:translate3d(0,100px,0);
        -webkit-transform:translate3d(0,100px,0);
    }
    to{opacity:1;
        transform:none;
        -ms-transform:none;
        -moz-transform:none;
        -o-transform:none;
        -webkit-transform:none;

    }
}
@-o-keyframes fadeInUp{
    0%{opacity:0;
        transform:translate3d(0,100px,0);
        -ms-transform:translate3d(0,100px,0);
        -moz-transform:translate3d(0,100px,0);
        -o-transform:translate3d(0,100px,0);
        -webkit-transform:translate3d(0,100px,0);
    }
    to{opacity:1;
        transform:none;
        -ms-transform:none;
        -moz-transform:none;
        -o-transform:none;
        -webkit-transform:none;

    }
}
@-webkit-keyframes fadeInUp{
    0%{opacity:0;
        transform:translate3d(0,100px,0);
        -ms-transform:translate3d(0,100px,0);
        -moz-transform:translate3d(0,100px,0);
        -o-transform:translate3d(0,100px,0);
        -webkit-transform:translate3d(0,100px,0);
    }
    to{opacity:1;
        transform:none;
        -ms-transform:none;
        -moz-transform:none;
        -o-transform:none;
        -webkit-transform:none;

    }
}




/* ===================================================================
 *  11. preloader预加载容器样式
 *
 * ------------------------------------------------------------------- */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #a90707;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    z-index: 1800;
    height: 100%;
    width: 100%;
}

.no-js #preloader,
.oldie #preloader {
    display: none;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5rem;
    height: 5rem;
    margin: -3rem 0 0 -3rem;
    padding: 0;
}

#loader:before {
    content: "";
    border-top: 6px solid rgba(255, 255, 255, 0.1);
    border-right: 6px solid rgba(255, 255, 255, 0.1);
    border-bottom: 6px solid rgba(255, 255, 255, 0.1);
    border-left: 6px solid #FFFFFF;
    -webkit-animation: load 1.1s infinite linear;
    animation: load 1.1s infinite linear;
    display: block;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}
.js .animate-this,
.js .animate-intro {
    opacity: 0;
}

.oldie .animate-this,
.oldie .animate-intro
.no-cssanimations .animate-this,
.no-cssanimations .animate-intro {
    opacity: 1;
}

/* ===================================================================
 *  00. 移动端自适应
 *
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
    .da-slide h2{
        font-size: 2rem;
    }
    #navigation-bar{
        padding: 24px 0;
        margin: 0 auto;
        width: 100%;
    }
    #navigation-bar nav .Project-name{
        font-size: 2em;
        font-weight: 400;
        line-height: 48px;
    }
    #navigation-bar>nav,
    #navigation-bar .container-fluid,
    #navigation-bar .container-fluid .navbar-header,
    #navbar .navbar-right li a{
        height: 48px;
        font-size: 14px;
    }
    /*汉堡按钮*/
    #navigation-bar .container-fluid .navbar-header .navbar-toggle{
        border-color: #fff;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border:none;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .top-nav-collapse{
        padding: 0 !important;
    }
    #navbar .navbar-right .dropdown .dropdown-menu{
        font-size: 14px;
    }

    /*skills移动端样式*/
    #skills{
        width: 100%;
        margin: 0;
    }
    .pc-style{
             display: none;
     }

}





















